includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8

    excludePaths:
        - database/seeders/ShieldSeeder.php
        - app/Settings/VolunteerSettings.php
        - app/Services/ViewCounterService.php

    paths:
        - app
        - bootstrap
        - database
        - routes
