includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max

    excludePaths:
        - database/seeders/ShieldSeeder.php

    paths:
        - app
        - bootstrap
        - database
        - routes
