includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/tomasvotruba/bladestan/config/extension.neon

parameters:
    level: 7

    excludePaths:
        - database/seeders/ShieldSeeder.php

    paths:
        - app
        - bootstrap
        - database
        - routes
