// Body
$body-bg: #F9F9F9;

// Typography
$font-family-sans-serif: "Tilt Neon", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Cards
$card-cap-bg: #221155;
$card-cap-color: #C58C00;

// Nav tabs
/// $nav-tabs-link-active-bg: #fff;
$nav-tabs-link-active-color: #976b00;
$nav-link-hover-color:   #976b00;

// List groups

$list-group-bg:                     #fff;

// Tables

$table-bg: #fff;

// List group
$list-group-active-color: #fff;
$list-group-active-bg:        #127453;
