// Brand colors
$brand-green: #0a4632;
$brand-green-100: lighten($brand-green, 10%);
$brand-yellow: #ffe615;
$brand-rss: #f26522;
$brand-blue: oklch(70.7% 0.165 254.624);
$brand-indigo: #4338ca;

$footer-bg: rgba(33, 37, 41, 1);
$btn-dark-gray: #333332;

// Badge palette
$badge-warning-color: oklch(75% 0.183 55.934);
$badge-primary-color: oklch(60.6% 0.25 292.717);
$badge-success-color: oklch(79.2% 0.209 151.711);
$badge-danger-color: oklch(44.4% 0.177 26.899);

// Body
$body-bg: #F9F9F9;

// Typography

$font-size-base: .910rem;

// Typography
$font-family-sans-serif: "Instrument Sans", sans-serif;
$line-height-base: 1.6;

// Cards
$card-cap-bg: #221155;
$card-cap-color: #C58C00;

// Nav tabs
/// $nav-tabs-link-active-bg: #fff;
$nav-tabs-link-active-color: #976b00;
$nav-link-hover-color:   #976b00;
$navbar-dark-color: #d9efe8 ;

// List groups

$list-group-bg:                     #fff;

// Tables

$table-bg: #fff;

// tooltips
$tooltip-max-width:                 400x;

// List group
$list-group-active-color: #fff;

$list-group-active-bg:        $brand-green;
