// Body
$body-bg: #F9F9F9;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Cards
$card-cap-bg: #221155;
$card-cap-color: #FFaF38;

// Nav tabs
/// $nav-tabs-link-active-bg: #fff;
$nav-tabs-link-active-color: #C58C00;
$nav-link-hover-color:   #C58C00;

// List groups

$list-group-bg:                     #fff;

// Tables

$table-bg: #fff;
