// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-image: url('../img/app-background.png');
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

// Icons

.icon-thin {
    stroke-width: 1.5;
}

.icon-md {
    line-height: 1.5;
    font-size: 1.1rem;
}

.icon-lg {
    font-size: 2rem;
}

.icon-blankslate {
    font-size: 4rem !important;
}

.icon-xl {
    font-size: 4rem;
}
.bg-sidenav {
    background-color: oklch(92.8% 0.006 264.531);
}

.icon-back-to-results {
    font-size: 1.575rem !important;
}

.icon-filled {
    fill: currentColor;
}

.icon-sm {
    width: .8rem !important;
    height: .8rem !important;
}

.icon-page-title {
    color: #748d26;
}

.icon {
    width: 1em;
    height: 1em;
    font-size: 16px;
    vertical-align: -0.2em;

    &:hover {
        text-decoration: none;
    }
}

// Footer

.footer-icon-color {
    color: #127453
}

.bg-callout-card {
    background-color: #004475;
    color: #fff;
}
// Colors

.text-gold {
    color: #C58C00;
}

// Navigation (navbar)

.bg-navbar {
    background: rgb(0,4,53);
    background: linear-gradient(90deg, rgba(0,4,53,1) 35%, rgba(0,18,176,1) 100%);

    & .icon {
        color: #FFaF38;
    }
}

// Buttons

.btn-search {
    @include button-variant(#f6eacb, #f6eacb, #127453);
}

.btn-suggestion-submit, .btn-submit {
    @include button-variant(#127453, #127453, #fff);
}

.btn-white {
    @include button-variant(#fff, #d1d5db, #000);

    > .icon {
        color: #127453;
    }
}

.btn-reset {
    @include button-variant(#fff, #fff, #000);
}

// Lists

.list-inline-item > .icon {
    color: #127453;
}

// Forms

textarea.form-control {
    resize: none;
}

// backgrounds

.bg-green{
    background-color: #127453;
}

.color-green {
    color: #127453
}

p {
    margin-bottom: 0;
}

.volunteers-description > p,
.disclaimer-description > p {
    margin-bottom: 1rem;
}

// Modals
.modal-header-reporting {
    background-color: oklch(0.936 0.032 17.717);

    & h1.modal-title {
        color: oklch(0.704 0.191 22.216);
    }
}

.modal-footer-reporting {
    background-color: oklch(0.97 0 0);
}
